@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Poppins:wght@100;300;400;500;600&display=swap');

$body-font:'Poppins', sans-serif;
$heading-font: 'Noto Sans JP', sans-serif;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$primary:#0e64f2;

body{

    overflow-x: hidden !important;
font-family: $body-font;
    background-color: #fefefe   ;
    cursor: url('./assets/bx-loader-circle.svg') auto !important;
}
p{
    color: #1f1e1e;
    opacity: .8;
    font-size: 14px;
    line-height: 150%;
    text-align:justify;
}
h1{
    font-size: 72px;

}
h2{
    font-size: 42px;
}
h3{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
h1,h2,h3,h4{
    font-weight: bold;
    line-height: 115%;
    margin: 0 ;
    padding: 0;
}

.cursor {
    width:36px;
    height:36px;
    z-index: 10 !important;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    background-size:75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.cursor::after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    border: 8px solid $primary;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
.col-around{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.around{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}


.navbar{
    width: 100%;   
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-auto-rows: 10vh;
    padding: 0 5%;
    p{
        font-size: 24px; 
        color: #ccc;
    }
a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px !important;
    line-height: 100% !important;
    &:hover{
        color: $primary;
    }
}

    .brand{
        width: 100%;
    line-height: 100% !important;
        margin: 0;
        padding: 0;
line-height:0;
        span{
            color: $primary;
            font-size: 50px;
        }
    }
}

.hero{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-auto-rows: 90vh;
    overflow: hidden;
    .nav-bar,.count{
        width: 100%;

        .t{
            transform: scale(2,2);
            font-weight: bold;
            color: #000;
        }
        
        li{
            color:#ccc;
            
        }
        li,p{
            margin: 20px auto;
            list-style: none;
            width: 100%;
            text-align: center;
span{
    color: $primary;
}
        }
    }
    .b-card{
        text-align: center;
        width:100%;
        background-color:$primary;
        padding:25px 0;
        padding-bottom: 0 !important;
   img{
       min-height: 100% !important;
       max-height:200px;
   }
    }
    .main-hero{
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        height: 90vh;
    }
    h1{
        margin: 1.5rem auto;
    }
    .col{
        padding: 10px 5%;
.hero-card{

    max-width: 100%;
    width: 100%;
   
    object-fit: contain;
    object-position: center;
}
.bottom{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    i{
        font-size: 20px;
    }
    p{
        color: black;
        font-weight: bold;
        margin: 0 10px;
        span{
            font-weight: 500;
            color: #ccc;

        }
    }
}
    }
}

.col-evenly
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
}

.social{
    width: 100%;
    min-height:max-content;
    display: flex;
    transform: rotate(-90deg);
    justify-content: space-between;
    align-items:center;
    li{
 margin: 0 5px;
        list-style: none;
    }
    // flex-direction: column;
}

.txt{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
}

.cta{
    padding: 15px 24px;
    margin: 20px 0;
    border-radius: 24px;
    border: none;
    background-color: $primary;
    color: white;
    font-size: 14px;
    
}


@media screen and (max-width:900px) {

    h1{
        font-size: 52px;
    }
    .hero{
     display: block;
     .col{
         min-height: auto;
         height: auto !important;

         padding: 25px 20px;
     }

     .main-hero{
         object-fit: cover;
height: 80vh !important;
    }
    }
    .hide-on-small{
        display: none !important;
    }
    .navbar{
        grid-template-columns: repeat(2,1fr);
    }
    
    .cursor{
        display: none !important;
    }
    #menu-trigger{
        display:block !important;
    }
}

#menu-trigger{
    display: none;
}
.sidenav{
    width: 75vw;
    height: 100vh;
    position:absolute;
    top: 0;
    left: -75vw;
    z-index: 10 !important;
    background-color: #1b1b1b;
transition: 1s ease;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
p{
    width: 75vw;
    position:absolute;
    top: 10px;
    color: white;
    text-align: right;
    i{
        font-size: 24px;
        
        transform: rotate(45deg);
    }
    padding: 20px;
}
a{
    width: 30%;
    color: white;
    margin: 20px auto;
text-decoration: none;
}
}